<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="./signup">Crée un compte</a>
    <a href="./login">Se connecter</a>
    
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            width: 100vw;
            min-height: 100vh;

            display: flex;
            flex-direction: column;
            align-items: center;
        }

        button {
            height: 20px;
            width: 100px;
        }
    </style>
</body>
</html>